:root {
    --busy-state-dialog-color: black;
}

.busy-state-dialog {
    width: 64px;
    height: 64px;
    border: none;
    background: none;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    cursor: wait;
}

.busy-state-dialog::backdrop,
.busy-state-dialog + .backdrop {
    cursor: wait;
}

.busy-state-dialog:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-color: var(--busy-state-dialog-color) transparent var(--busy-state-dialog-color) transparent;
    animation: busy-state-dialog 1.2s linear infinite;
}

@keyframes busy-state-dialog {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
