.augmented-reality {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.augmented-reality div {
    display: none;
}

.augmented-reality::before {
    content: "Augmented Reality Placeholder"
}

.augmented-reality-initialized::before {
    content: none;
}

.augmented-reality > iframe {
    width: 100%;
    height: 100%;
}
