.augmented-reality {
    border: 1px solid black;
}

.augmented-reality::after {
    content: "Augmented Reality Placeholder"
}

.augmented-reality-initialized::after {
    content: none;
}

.augmented-reality > iframe {
    width: 100%;
    height: 100%;
}
