    
.pie-placeholder {
    background: url("pie-placeholder.png") center no-repeat #E0E0E0;
    border: 1px solid black;
}

.no-border {
    --ni-border: none;
}

.no-background {
    --ni-indicator-background-color: transparent;
    --ni-control-background-color: transparent;
    }
