ni-text[text^="rgraph-webvi"] {
    background: url("RGraphPlaceholder.png") center no-repeat #E0E0E0;
    border: 1px solid black;
}

ni-text[text^="rgraph-webvi"].rgraph-webvi-created {
    background: transparent;
    border: none;
}
