html, body {
    margin: 0px;
    padding: 0px;
    height: fit-content;
    min-height: 100%;
    width: fit-content;
    min-width: 100%;
}

:root {
    --webvi-control-extensions-background: var(--ni-background);
}

body.webvi-control-extensions-background {
    background: var(--webvi-control-extensions-background);
}

body.webvi-control-extensions-background ni-front-panel {
    background: none;
}
