.custom-input-control input {
    border: var(--ni-border);
    width: 100%;
    height: 100%;
}

.custom-input-control input[type=date]::-webkit-inner-spin-button,
.custom-input-control input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
