.my-sweet-alert-title {
    font-family: monospace;
}

.my-sweet-alert-content {
    background-color: lightpink;
}

.my-sweet-alert-footer {
    font-weight: 900;
    color: greenyellow;
}

.my-sweet-alert-button {
    box-shadow: 10px 5px 5px red !important;
}

.my-sweet-alert-button.warning {
    color: yellow;
}

.my-sweet-alert-button.error {
    color: red;
}
