.webvi-trix-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: initial;
}

.webvi-trix-container trix-toolbar {
    width: 100%;
}

.webvi-trix-container trix-editor {
    width: 100%;
    flex: 1;
    min-height: 0px;
    overflow: auto;
    overflow-wrap: normal;
}

.webvi-trix-container .trix-button-group--file-tools {
    display: none;
}

.webvi-trix-container.webvi-trix-disable trix-toolbar {
    display: none;
}

/*
 TODO fix lists
 */
 