name: CI

on:
  push:
    branches:
    - master

jobs:
  build:

    runs-on: windows-2019
    
    steps:
    - uses: actions/checkout@v1
    - name: Run a one-line script
      run: powershell .\AzurePipelines\install.ps1
